*{
		margin: 0;
		padding: 0;
	}
	main{
		min-height: fit-content;
		margin: 0;
		padding: 0;
		height: 100vh;
		width: 100vw;
		background: url("https://wallpapercave.com/wp/wp2706055.jpg");
		background-repeat: no-repeat;
		background-size: cover; 
	}
	.pack{
		margin: 0;
		height: auto;
		width: 100vw;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.header{
		margin: 2vh;
		width: 80vw;
		border-radius: 30px;
		padding: 2vh;
		backdrop-filter: blur(5px);
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		align-items: center;
		border: 1px solid rgba(255,255,255,0.3);
	}
	.heading{
		font-weight: 900;
		font-size: 2rem;
		color: white;
	}
	.icons{
		width: 40vw;
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		align-items: center;
	}
	.icons a{
		text-decoration: none;
		color: white;
		font-weight: 600;
		font-size: 1.5rem;
	}
	.home:hover{
		text-decoration: underline;
	}
	#home{
		font-weight: 600;
		font-size: 2rem;
		align-self: center;
	}
	.contact:hover{
		text-decoration: underline;
	}
	#contact{
		font-weight: 600;
		font-size: 2rem;
		align-self: center;
	}
	.search{
		
		background-color: white;
		border-radius: 30px;
		height:80%;
		padding: 1vh;
	}
	#search{
		border-radius: 30px;
		height:80%;
		font-size: 1.5rem;
		padding: 1vh;
		border: 0px;
		font-weight: 500;
	}
	#srch{
		font-size: 1.5rem;
		font-weight: 500;
	}
	.search_button{
		border: 0px;
		border-radius: 30px;
		background-color: orange;
		padding: 10px;
		width: 3.5vw;
	}
	.search_button:hover{
		background-color: orangered;
	}
	.content{
		border: 0px;
		height: 60vh;
		width: 100vw;
		display: flex;
		flex-direction: row;
		gap:5vw;
	}
	.list{
		height: 60vh;
		width: 40vw;
		backdrop-filter: blur(5px);
		border-radius: 20px;
		border: 1px solid rgba(255,255,255,0.3);
		margin-left: 9vw;
		padding: 1vh;
	}
	.task{
		background-color: white;
		border-radius: 30px;
		height:15%;
		padding: 1vh;
		display: flex;
		justify-content: space-between;
		margin: 1vh;
	}
	#task{
		border-radius: 30px;
		font-size: 1.5rem;
		padding: 1vh;
		border: 0px;
		font-weight: 500;
		width: 34vw;
	}
	.add_tasks{
		border: 0px;
		border-radius: 30px;
		background-color: orange;
		padding: 10px;
		width: 3.5vw;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	#add{
		font-size: 2.5rem;
		font-weight: 600;
	}
	.add_tasks:hover{
		background-color: orangered;
	}
	.task_list{
		height: 45vh;
		display: flex;
		justify-content: center;
		font-size: 2rem;
		color: white;
		align-items: center;
	}
	.silhouette{
		position: relative;
		display: flex;
		height: 600px;
		width: 600px;
		backdrop-filter: blur(5px);
		border-radius: 20px;
		border: 1px solid rgba(255,255,255,0.3);
		padding: 1vh;
		justify-content: center;
		align-items: center;
		color: white;
	}
	.spinBtn{
		position: absolute;
		width: 60px;
		height: 60px;
		background: #fff;
		border-radius: 50%;
		z-index: 10;
		display: flex;
		justify-content: center;
		align-items: center;
		text-transform: uppercase;
		font-weight: 600;
		font-size: 1.2rem;
		letter-spacing: 0.1rem;
		cursor: pointer;
		border: 4px solid rgba(0,0,0,0.75);
		color: black;
		user-select: none;
	}
	.spinBtn::before{
		content: " ";
		position: absolute;
		top: -28px;
		width: 20px;
		height: 30px;
		background: #fff;
		clip-path: polygon(50% 0%, 15% 100%, 85% 100%);

	}
	.wheel{
		position: absolute;
		top: 100px;
		left: 120px;
		width: 70%;
		height: 70%;
		border-radius: 50%;
		background: #333;
		overflow: hidden;
		box-shadow: 0 0 0 5px #333,
		0 0 0 15px #fff,
		0 0 0 18px #111;
		transition: transform 5s ease-in-out;
	}
	.number{
		position: absolute;
		width: 50%;
		height: 50%;
		background: var(--clr);
		transform-origin: 100% 100%;
		transform: rotate(calc((var(--i) - 1) * (360deg / var(--total))));
		clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
		display: flex;
		justify-content: center;
		align-items: center;
		user-select: none;
		cursor: pointer;
	}
	.wheel .number span{
		position: absolute;
		transform: rotate(calc( (360deg / var(--total)) ));
		font-size: 1.5em;
		font-weight: 700;
		text-shadow: 3px 5px 2px rgba(0,0,0,0.15);
	}
